{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <title>Manhtia-Content</title>
    <link rel="icon" href="https://i.pinimg.com/564x/6f/b1/fa/6fb1fa3c16a2aa37a4ab3d7e192b7c2d.jpg">
    <link rel="stylesheet" href="{% static 'Manhtia/Main/main.css' %}">
    <link rel="stylesheet" href="{% static 'Manhtia/Content/contentstyle.css' %}">
</head>
<body>
    <section id="co" class="section_connector">
        <div id="connector" class="moderndiv">
            <img id="icon" src="https://i.pinimg.com/564x/6f/b1/fa/6fb1fa3c16a2aa37a4ab3d7e192b7c2d.jpg">
            <label id="appname">Manhtia</label><br><label id="time"></label>
            <div id="connectors">
                <a href="{% url 'index'%}">Home</a>
                <a href="{% url 'content'%}">Library</a>
                <a href="{% url 'portrayal'%}">Portrayal</a>
                <a href="{% url 'private'%}">Mature</a>
                <a href="{% url 'manager'%}">Manager</a>
            </div>
        </div>
    </section><br>
    <section id="notification" class="section_notification">
        <div id="notificate_pane" class="moderndiv">
            <label id="notificate">-Notification-</label>
        </div>
    </section><br>
    <div id="searchdiv" class="moderndiv">
        <label style="border-bottom: solid 2px; font-weight: bold;">Common Search</label><label class="info" onclick="process('To use <br>1.Must check developer checkbox.<br>2.Cick Go button 1 time.<br>3.Choose it.')">(i)</label> | <a href="{% url 'advsearch' %}">Adv. Search</a><button style="font-weight: bold; float: right;" id="miniclose">X</button><br>
        Name: <input placeholder="Search by Name..." id="names" style="border: none; background-color: pink; border-radius: 5px; width: 250px;" list="namestm"><datalist id="namestm"></datalist><br>
        Normal Filter:<select id="filter" style="width: 150px;">
            <option value="none">-</option>
            <option value="yes">Has website</option>
            <option value="no">Has no website</option>
            <option value="ongoing">Ongoing</option>
            <option value="end">End</option>
            <option value="uptoday">Update today</option>
            <option value="upyesterday">Check Translate</option>
            <option value="n">Unknown</option>
            <option value="1">Mon-Tue</option>
            <option value="2">Tue-Wed</option>
            <option value="3">Wed-Thu</option>
            <option value="4">Thu-Fri</option>
            <option value="5">Fri-Sat</option>
            <option value="6">Sat-Sun</option>
            <option value="7">Sun-Mon</option>
        </select><br>
        More Filter...<br>
        Nation: <select id="nationst" style="width: 150px;">
            <option value="none">-</option>
            <option value="kr">Korean</option>
            <option value="cn">Chinese</option>
            <option value="th">Thai</option>
        </select><br>
        Rate: <select id="rates" style="width: 150px;">
            <option value="none">-</option>
            <option value="n">Rate Normal</option>
            <option value="15">Rate Teenager(15+)</option>
            <option value="18">Rate Adult(18+)</option>
        </select><br>
        MatureMarked: <select id="marked" style="width: 150px;">
            <option value="none">-</option>
            <option value="mark as mature content">Mark as Mature content</option>
            <option value="uncensored">Uncensored</option>
        </select><br>
        Overall: <select id="overall" style="width: 150px;">
            <option value="none">-</option>
            <option value="n">Overall Ongoing</option>
            <option value="c">Overall Completed</option>
        </select><br>
        Purchase: <select id="purchase" style="width: 150px;">
            <option value="none">-</option>
            <option value="n">Purchase No</option>
            <option value="y">Purchase Yes</option>
            <option value="s">Purchase Some</option>
            <option value="w">Purchase Waiting Decision</option>
        </select><br>
        Genre: <select id="genre" style="width: 200px;">
            <option value="none">-</option>
            <option value="rf">RomanceFantacy</option>
            <option value="mt">Mature</option>
            <option value="bl">Boy Love</option>
            <option value="rm">Romance</option>
            <option value="ft">Fantacy</option>
            <option value="dm">Drama</option>
            <option value="ov">Omegaverse</option>
            <option value="cm">Comedy</option>
            <option value="ir">Isekai / ReverseTime</option>
            <option value="sf">Sci-fi</option>
            <option value="at">Action</option>
            <option value="fm">Family</option>
            <option value="cv">Cakeverse</option>
            <option value="gv">Guideverse</option>
            <option value="nv">Nameverse</option>
            <option value="av">Animalverse</option>
            <option value="ot">Otherverse</option>
            <option value="mp">Male pregnancy(MPreg)</option>
        </select><br>
        Reading: <select id="read" style="width: 200px;">
            <option value="none">-</option>
            <option value="y">Reading(Admin)</option>
            <option value="n">Non-Reading(Admin)</option>
        </select><br>
        <button onclick="c()">SearchfromURL</button>
        <button onclick="research()">Reset</button>
        Developer<input type="checkbox" id="developer">
    </div>
    <div id="console" class="moderndiv"><button type="button" id="opensearch">Search</button> Page: <select name="page" id="page" onchange="clicks()"></select> <button type="button" id="prev">Prev</button><button type="button" id="next">Next</button>|<button id="go" type="submit">Go</button></div>
    <br>
    <div id="content" class="moderndiv" style="width: 100%;">

    </div><br>
    <section id="sources" class="section_sources">

        <h2>Includes Sources</h2>
        <div id="app" class="moderndiv"></div><br>
        <div class="moderndiv" id="filterhashtag">
            <a href="{% url 'content' %}?common=uptoday&developer=allow">#Update_today</a>
            <a href="{% url 'content' %}?common=yes&developer=allow">#has_Website</a>
            <a href="{% url 'content' %}?common=upyesterday&developer=allow">#Check_translate</a>
            <a href="{% url 'content' %}?rate=18&developer=allow">#18+</a>
            <a href="{% url 'content' %}?nation=cn&developer=allow">#Chinese</a>
            <a href="{% url 'content' %}?mark=mark as mature content&developer=allow">#Mark_as_mature</a>
            <a href="{% url 'content' %}?mark=uncensored&developer=allow">#Uncensored</a>
            <a href="{% url 'content' %}?overall=c&developer=allow">#Completed</a>
            <a href="{% url 'content' %}?genre=bl&developer=allow">#bl</a>
            <a href="{% url 'content' %}?genre=mt&developer=allow">#mature</a>
            <a href="{% url 'content' %}?genre=ov&developer=allow">#omegaverse</a>
            <a href="{% url 'content' %}?read=y&developer=allow">#admin_favorite</a>
        </div><br>

    </section><br>
    <section id="about_website" class="section_about">
        <div id="about">
            contract: <a href="https://discordapp.com/users/1055326431804137504/"><img style="width: 30px; border-radius: 10px;" src="https://i.pinimg.com/564x/66/1e/cf/661ecf66bda49150b44d25e4440e2bb8.jpg"></a> : Bangkok, Thailand<br>
            About:<label id="version"></label> <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaCP9AUgrroG45f8uz9SPU2sOXBZ8roxQ7mqXhKG1BsleVuA/viewform?usp=sf_link">Report / Help</a> | <a href="">Provision / Symbol meaning</a>
            <br>Notice: Attention! This website(Manhtia) is a personal collection, Existing is not for commercial.
            <br>© 2023 Manhtia All Rights are reserved. Website source reserves to Manhtia, Contents credit to owner.<br>
        </div>
    </section>
</body>
<script src="{% static 'Manhtia/Main/common.js'%}"></script>
<script src="{% static 'Manhtia/Content/content.js'%}"></script>
</html>