{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
	<script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
	<title>{{ name }}</title>
    <link rel="icon" href="https://i.pinimg.com/564x/6f/b1/fa/6fb1fa3c16a2aa37a4ab3d7e192b7c2d.jpg">
    <link rel="stylesheet" href="{% static 'Manhtia/Main/main.css' %}">
	<link rel="stylesheet" href="{% static 'Manhtia/Content/eachcontent.css' %}">
</head>
<body>
	<section id="co" class="section_connector">
        <div id="connector" class="moderndiv">
            <img id="icon" src="https://i.pinimg.com/564x/6f/b1/fa/6fb1fa3c16a2aa37a4ab3d7e192b7c2d.jpg">
            <label id="appname">Manhtia</label><br><label id="time"></label>
            <div id="connectors">
                <a href="{% url 'index'%}">Home</a>
                <a href="{% url 'content'%}">Library</a>
                <a href="{% url 'portrayal'%}">Portrayal</a>
                <a href="{% url 'private'%}">Mature</a>
                <a href="{% url 'manager'%}">Manager</a>
            </div>
        </div>
    </section>
    <h2 id="nameget">{{ name }}</h2>
    <div style="text-align: right;" id="period"></div>
    <div id="content">
        <div id="tops"><a href="{% url 'index'%}">Home</a> | <a href="{% url 'content'%}">Back</a> | <a href="{% url 'portrayal'%}{{ name }}">Portrayal</a> </div>
        <div id="top"></div>
        <div id="info"><h3 id="inforlabel">Information</h3></div>
    </div>
    <div id="chapter">
        Currently, <label id="chapter_name"></label> (<label id="chapter_count"></label>)<button type="button" id="more">More</button> Choose:<select id="choose_chapter" style="width: 130px;"><option>-</option></select><button id="prev">Prev</button><button id="next">Next</button>
    </div><br>
    <div id="storyotherversion" style="text-align: right;">
        <a id="krver" style="display: none;" href="{% url 'content' %}[KR]{{ name }}">KR version</a> <a id="esver" style="display: none;" href="{% url 'content' %}[ES]{{ name }}">ES version</a> <a id="frver" style="display: none;" href="{% url 'content' %}[FR]{{ name }}">FR version</a> <a id="othver" style="display: none;" href="{% url 'content' %}[OTH]{{ name }}">Other version</a>
    </div>
    <div id="allchap" style="display: none; width: 98%;" class="moderndiv"><h3 id="inforlabel">Chapter Viewer <a href="{% url 'content2'%}{{ name }}" style="font-size: 12px;">Clear View</a> | <a style="font-size: 12px;" onclick="process()">Filter by...</a></h3></div><br>
	<div id="picture"></div><div style="text-align: center;"><img src="https://i.pinimg.com/564x/1d/6a/e7/1d6ae77a8750adff10e0841753fb10ab.jpg" style="width: 400px; border-radius: 5px;" id="anounce"></div>
	<br>
    <section id="about_website" class="section_about">
        <div id="about">
            contract: <a href="https://discordapp.com/users/1055326431804137504/"><img style="width: 30px; border-radius: 10px;" src="https://i.pinimg.com/564x/66/1e/cf/661ecf66bda49150b44d25e4440e2bb8.jpg"></a> : Bangkok, Thailand<br>
            About:<label id="version"></label> <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaCP9AUgrroG45f8uz9SPU2sOXBZ8roxQ7mqXhKG1BsleVuA/viewform?usp=sf_link">Report / Help</a> | <a href="">Provision / Symbol meaning</a>
            <br>Notice: Attention! This website(Manhtia) is a personal collection, Existing is not for commercial.
            <br>© 2023 Manhtia All Rights are reserved. Website source reserves to Manhtia, Contents credit to owner.<br>
        </div>
    </section>
    <div id="process" style="display: none;">
        <button onclick="closefilter()">Close</button><br>
        Filter by...<br>
        Common:
        <select id="choosefilter" style="width: 250px;" onchange="commonfilter()">
            <option value="">-</option>
            <option value="15/18">15+/18+</option>
            <option value="15">15+</option>
            <option value="18">18+</option>
            <option value="abs">Abs</option>
            <option value="abs/15/18">All Mature type</option>
        </select><br>
        From Story:
        <select id="choosecommonfilter" style="width: 250px;" onchange="storyfilter()">
            <option value="">-</option>
        </select><br><a id="searchit">(Search)</a>
        
    </div>
    <script src="{% static 'Manhtia/Content/eachcontent.js'%}"></script>
    <script src="{% static 'Manhtia/Content/eachcontent2.js'%}"></script>
</body>
</html>