{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <title>{{ name }}.Viewer-Manhtia</title>
    <link rel="icon" href="https://i.pinimg.com/564x/6f/b1/fa/6fb1fa3c16a2aa37a4ab3d7e192b7c2d.jpg">
    <style>
        body{
            font-family: Tahoma, Verdana, Segoe, sans-serif;
            background-color: #121212;
            color: white;
        }
        .chapterimage{
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="head">
        <label id="nameget">{{ name }}</label> <a href="{% url 'content'%}{{ name }}">Back</a> | <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaCP9AUgrroG45f8uz9SPU2sOXBZ8roxQ7mqXhKG1BsleVuA/viewform?usp=sf_link">Report</a> Zoom:
        <select id="zoom" style="width: 50px;" onchange="start()">
            <option value="200">200px</option>
            <option value="300">300px</option>
            <option value="350">350px</option>
            <option value="400">400px</option>
            <option value="500">500px</option>
            <option value="700">700px</option>
            <option value="750">750px</option>
            <option value="800">800px</option>
            <option value="850">850px</option>
            <option value="900">900px</option>
            <option value="1000">1000px</option>
            <option value="1200">1200px</option>
        </select> Quality: 
        <select id="quality" style="width: 50px;" onchange="changequality()">
            <option value="6000">Default</option>
            <option value="4000">Very Low</option>
            <option value="5000">Low</option>
            <option value="12000">High</option>
            <option value="15000">Extreme High</option>
        </select> Layout: 
        <select  id="layout" style="width: 50px;" onchange="layout()">
            <option value="ver">Veritical</option>
            <option value="horver">Horizontal-Vertical</option>
            <option value="hor">Horizontal</option>
        </select> Theme: 
        <select id="theme" style="width: 50px;" onchange="changetheme()">
            <option value="2">Dark mode</option>
            <option value="1">Light mode</option>
            <option value="0">Auto</option>
        </select>
    <div id="content" style="border-bottom: solid black; position: sticky; top: 0px; background-color: white; text-align: center; margin-left: auto; margin-right: auto;">
        <label onclick="window.location.reload();">↻</label><select onchange="goto()" style="width: 200px;" id="allchapters"></select><button id="prev">Prev</button><button id="next">Next</button>
    </div>
    <br><div id="show" style="width: 310px; font-size:0; margin-left: auto; margin-right: auto;"></div>
    <div id="horNevigate" style="display: none; position: sticky; bottom: 0px; background-color: black; text-align: center; margin-left: auto; margin-right: auto;""><select id="imgnumber" style="width: 100px;"></select><button id="prevnumber">←</button><button id="nextnumber">→</button></div>
    <div style="text-align: center;">
        Please support artist(s) of {{ name }} on official site.<br>
        <button onclick="book_self()">Bookmark this Chapter</button><br>
        <img style="width: auto; max-width: 270px;" src="https://i.pinimg.com/564x/1d/6a/e7/1d6ae77a8750adff10e0841753fb10ab.jpg">
    </div>
    <br><button style="float: right;" onclick="window.scrollTo(0, 0)">go to Top</button>
    <div id="bottom">
        Service: Manhtia viewer
        <br>© 2023 Manhtia. Website source reserves to Manhtia, Contents credit to owner.<br>
    </div>
</body>
<script src="{% static 'Manhtia/Content/viewerchapter2.js'%}"></script>
</html>
