#console{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 2px;
    width: 100%;
    white-space: nowrap;
    position: sticky;
    top: 5px;
    overflow: auto;
}
#name{
    background-color: #f0a6a1;
}
#content{
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 10px;
}
#normalcontent{
    text-align: center;
    padding: 10px;
    overflow: hidden;
    height: fit-content;
}
.normalspan{
    height: 300px;
    width: 200px;
    border-radius: 30px;
    background-size: cover;
    padding: 10px;
    display: inline-block;
}
#search{
    width: 20px;
    border-radius: 50%;
}
#searchdiv{
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 2px;
    padding: 7px;
    top: 50px;
}
#pro{
    background: conic-gradient(gold 360deg, white 0deg);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pro::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
}
#value{
    position: relative;
    font-size: 12px;
    color: black;
}
#searchdiv{
    display: none;
}
select{
    background: none;
    border: none;
    width: 50px;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black;
}
.coverimg{
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.coverimg:hover{
    -webkit-transform: scale(2.0) rotate(0.00deg);
    transform: scale(1.2) rotate(0.00deg);
}
.coverimg:active{
    -webkit-transform: scale(2.0) rotate(0.00deg);
    transform: scale(2.0) rotate(0.00deg);
}
#more_told{
    width: 30px;
    border-radius: 7px;
}
@keyframes changeclour {
    from {background-color: red;}
    to {background-color: white;}
}
iframe{
    border: none;
}