h2{
    background-color: #2A2A2A;
    padding: 7px;
    border-radius: 22px;
    text-align: center;
}
h3{
    background-color: red;
    border-radius: 22px;
    padding: 7px;
}
div{
    background-color: #2A2A2A;
}
#content{
    overflow: hidden;
    height: fit-content;
    padding: 0px;
    display:inline;
}
#tops{
    border-bottom: 2px solid;
    text-align: left;
    padding: 5px;
}
#info{
    background-color: #2A2A2A;
    padding-bottom: 7px;
    padding: 0px;
    border-radius: 22px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#inforlabel{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#chapter{
    background-color: #2A2A2A;
    padding: 7px;
    border-radius: 22px;
    text-align: center;
    overflow: auto;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
#picture{
    background-color: #2A2A2A;
    padding: 7px;
    border-radius: 22px;
    text-align: center;
    width: 99%;
}
#cover{
    width: 300px;
    border-radius: 5px;
}
.coverschapter{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
    vertical-align: middle;
}
.coverschapter:hover{
    -webkit-transform: scale(1.0) rotate(0.00deg);
    transform: scale(1.5) rotate(0.00deg);
}
#spoilmoredetail{
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    max-height: 500px;
    overflow: auto;
    border: 4px solid red;
    left: 2px;
}
#prev{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
    border-right: 1px solid black;
}
#next{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: none;
    border-left: 1px solid black;
}