:root{
    --normal_div_width: 200px;
}
#console{
    text-align: center;
}
#search{
    display: flex;
    white-space: nowrap;
    overflow: auto;
}
.controlpane{
    width: 320px;
    padding: 10px;
}
.searchtype{
    border-bottom: solid 2px;
    font-weight: bold;
}
#resultis{
    color: red;
}
#console{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 2px;
    width: 100%;
    white-space: nowrap;
    position: sticky;
    top: 5px;
    overflow: auto;
}
#name{
    background-color: #f0a6a1;
}
#ministatistic{
    color: red;
    font-style: italic;
    text-align: right;
}
/*developer*/
#content{
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 10px;
}
/*normal*/
#normalcontent{
    text-align: center;
    padding: 10px;
    overflow: hidden;
    height: fit-content;
}
.normalspan{
    height: 300px;
    width: var(--normal_div_width);
    border-radius: 30px;
    background-size: cover;
    padding: 10px;
    display: inline-block;
}
.namenormal{
    background-color: red;
    font-weight: bold;
    padding: 10px;
    border-radius: 30px;
    white-space: nowrap;
    overflow: auto;
    width: 100px;
}
#pro{
    background: conic-gradient(gold 360deg, white 0deg);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pro::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
}
.coverimg{
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.coverimg:hover{
    -webkit-transform: scale(2.0) rotate(0.00deg);
    transform: scale(1.2) rotate(0.00deg);
}
.coverimg:active{
    -webkit-transform: scale(2.0) rotate(0.00deg);
    transform: scale(2.0) rotate(0.00deg);
}
#more_told{
    width: 30px;
    border-radius: 7px;
}
@keyframes changeclour {
    from {background-color: red;}
    to {background-color: white;}
}
iframe{
    border: none;
}
#package{
    width: 130px;
}
#prev{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
    border-right: 1px solid black;
}
#next{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: none;
    border-left: 1px solid black;
}