body {
    background-image: url('https://drive.google.com/uc?id=1d0KwJETs9Uwz1C6pc6Hg_CRG50tPs2-c&export=download');
    height: 100%;
    background-size: cover;
}
#topic{
    background-color: rgb(164, 129, 17);
    font-family: "Brush Script MT",cursive;
    border: 5px;
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#main{
    background-color: rgb(214, 189, 104);
    font-family: "Brush Script MT",cursive;
    border: 5px;
    border-radius: 15px;
    width: 70%;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#phase{
    background-color: rgb(255, 223, 0);
    font-family: "Brush Script MT",cursive;
    border: 5px;
    border-radius: 15px;
    width: 60%;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#choose{
    font-family: "Brush Script MT",cursive;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    background-color: "";
    padding: 10px;
}
#bus{
    position: sticky;
    top: 10px;
}
.homeicon{
    border: 1px solid;
    border-radius: 5px;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
}
img {
    pointer-events: none;
}