#content{
    border-radius: 5px;
    text-align: center;
    align-items: center;
}
#recomend{
    text-align: center;
    padding: 2px;
    padding-top: 15px;
    height: 450px;
    overflow: auto;
}
#eachpagelink{
    font-size: 14px;
    color: black;
    font-weight: 700;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    background-color: ivory;
    padding: 3px;
    border-radius: 10px;
    animation-name: changeclour;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
#connect{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 10px;
}
.info{
    font-size: 12px;
}
#eachstorydiv{
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
}
#eachstorydiv:hover{
    -webkit-transform: scale(2.0) rotate(0.00deg);
    transform: scale(1.2) rotate(0.00deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#name{
    background-color: red;
}
#link{
    width: 330px;
}
#website_check{
    width: 25px;
    border-radius: 7px;
}
#statistic{
    float: right;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 10px;
    width: 500px;
}
.up{
    text-align: center;
    padding: 10px;
    overflow: hidden;
    height: fit-content;
}
.normalspan{
    height: 300px;
    width: 200px;
    border-radius: 30px;
    background-size: cover;
    padding: 10px;
    display: inline-block;
}
@keyframes changeclour {
    from {background-color: red;}
    to {background-color: ivory;}
}
#rec{
    animation-name: widthchange;
    animation-duration: .4s;
}
@keyframes widthchange {
    from {width: 0px;}
    to {width: 290px;}
}
#todaysup{
    height: 20px;
    width: 150px;
    border-radius: 10px;
    background-color: gold;
}
#hasoffline{
    height: 20px;
    width: 150px;
    border-radius: 10px;
    background-color: red;
}
#endstatus{
    height: 20px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(72, 72, 244);
}
#unknowndate{
    height: 20px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(90, 170, 63);
}
#rmature{
    height: 20px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(167, 68, 225);
}
#complete{
    height: 20px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(247, 180, 135);
}
#history{
    height: 20px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(99, 97, 146);
}
#value{
    position: relative;
    font-size: 12px;
    color: black;
}
#conteach{
    border-radius: 30px;
    padding: 10px;
    background-color: azure;
}
.sta{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}