{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <title>Manhtia</title>
    <link rel="icon" href="https://i.pinimg.com/564x/6f/b1/fa/6fb1fa3c16a2aa37a4ab3d7e192b7c2d.jpg">
    <link rel="stylesheet" href="{% static 'Manhtia/main.css' %}">
    <link rel="stylesheet" href="{% static 'Manhtia/contentstyle.css' %}">
</head>
<body>
    <div id="head">
        <img id="icon" src="https://i.pinimg.com/564x/6f/b1/fa/6fb1fa3c16a2aa37a4ab3d7e192b7c2d.jpg">
        <label id="appname">Manhtia</label>
        <div id="linker"><a class="linkeachpage" href="{% url 'index'%}">Home</a> <a class="linkeachpage" href="{% url 'content'%}">Content</a> <a class="linkeachpage" href="{% url 'portrayal'%}">Portrayal</a> <a class="linkeachpage" href="{% url 'private'%}">Private</a> <a class="linkeachpage" href="{% url 'manager'%}">Manager</a></div>
    </div><br>
    <label class="moderndiv" id="notificate" style="display: none; width: 99%;"></label><br>
    <div id="searchdiv" class="moderndiv" style="width: 99%; margin-right: auto; margin-left: auto;">
        More Filter...<br>
        Name: <input placeholder="Search by Name..." id="names" style="border: none; background-color: pink; border-radius: 5px; width: 250px;" list="namestm"><datalist id="namestm"></datalist><br>
        Nation: <select id="nationst" style="width: 150px;">
            <option value="none">-</option>
            <option value="kr">Korean</option>
            <option value="cn">Chinese</option>
            <option value="th">Thai</option>
        </select><br>
        Rate: <select id="rates" style="width: 150px;">
            <option value="none">-</option>
            <option value="n">Rate Normal</option>
            <option value="15">Rate Teenager(15+)</option>
            <option value="18">Rate Adult(18+)</option>
        </select><br>
        MatureMarked: <select id="marked" style="width: 150px;">
            <option value="none">-</option>
            <option value="mark as mature content">Mark as Mature content</option>
        </select><br>
        Overall: <select id="overall" style="width: 150px;">
            <option value="none">-</option>
            <option value="n">Overall Ongoing</option>
            <option value="c">Overall Completed</option>
        </select><br>
        Purchase: <select id="purchase" style="width: 150px;">
            <option value="none">-</option>
            <option value="n">Purchase No</option>
            <option value="y">Purchase Yes</option>
            <option value="s">Purchase Some</option>
            <option value="w">Purchase Waiting Decision</option>
        </select><br>
        Genre: <select id="genre" style="width: 200px;">
            <option value="none">-</option>
            <option value="rf">RomanceFantacy</option>
            <option value="mt">Mature</option>
            <option value="bl">Boy Love</option>
            <option value="rm">Romance</option>
            <option value="ft">Fantacy</option>
            <option value="dm">Drama</option>
            <option value="ov">Omegaverse</option>
            <option value="cm">Comedy</option>
            <option value="ir">Isekai / ReverseTime</option>
            <option value="sf">Sci-fi</option>
            <option value="at">Action</option>
            <option value="fm">Family</option>
        </select><br>
        Reading: <select id="read" style="width: 200px;">
            <option value="none">-</option>
            <option value="y">Reading(Admin)</option>
            <option value="n">Non-Reading(Admin)</option>
        </select><br>
        <button onclick="research()">Reset</button>
    </div><br>
    <div id="console" class="moderndiv"><button type="button" id="opensearch"><img id="search" src="https://i.pinimg.com/564x/20/84/d5/2084d52de67b409823d500f04f7f15c3.jpg"></button> Page: <select name="page" id="page" onchange="clicks()"></select> <button type="button" id="prev">Prev</button><button type="button" id="next">Next</button>|<button id="go" type="submit">Go</button>
        Filter:<select id="filter">
            <option value="none">-</option>
            <option value="yes">Has website</option>
            <option value="no">Has no website</option>
            <option value="ongoing">Ongoing</option>
            <option value="end">End</option>
            <option value="uptoday">Update today</option>
            <option value="upyesterday">Check Translate</option>
            <option value="n">Unknown</option>
            <option value="1">Mon-Tue</option>
            <option value="2">Tue-Wed</option>
            <option value="3">Wed-Thu</option>
            <option value="4">Thu-Fri</option>
            <option value="5">Fri-Sat</option>
            <option value="6">Sat-Sun</option>
            <option value="7">Sun-Mon</option>
        </select></div>***Some story might have Video/Anime Check Offtopic page in Home.
    <div id="content" class="moderndiv" style="width: 99%;">

    </div><br>
    <h2>Includes Sources</h2>
        <div id="app">
            
        </div><br>
    <div id="bottom">
        contract: <a href="https://discordapp.com/users/1055326431804137504/"><img style="width: 30px; border-radius: 10px;" src="https://i.pinimg.com/564x/66/1e/cf/661ecf66bda49150b44d25e4440e2bb8.jpg"></a> Location: Bangkok, Thailand
        <br>"Attention! This website is personal collection not for commercial"
        <br>© 2023 Manhtia. Website source reserves to Manhtia, Contents credit to owner.<br>
    </div>
</body>
<script src="{% static 'Manhtia/content.js'%}"></script>
</html>
