{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
	<script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
	<title>Manhtia</title>
    <link rel="icon" href="https://i.pinimg.com/564x/6f/b1/fa/6fb1fa3c16a2aa37a4ab3d7e192b7c2d.jpg">
    <link rel="stylesheet" href="{% static 'Manhtia/main.css' %}">
	<link rel="stylesheet" href="{% static 'Manhtia/eachcontent.css' %}">
</head>
<body>
	<div id="head">
        <img id="icon" src="https://i.pinimg.com/564x/6f/b1/fa/6fb1fa3c16a2aa37a4ab3d7e192b7c2d.jpg">
        <label id="appname">Manhtia</label>
        <div id="linker"><a class="linkeachpage" href="{% url 'content'%}">Content</a> <a class="linkeachpage" href="{% url 'portrayal'%}">Portrayal</a> <a class="linkeachpage" href="{% url 'private'%}">Private</a> <a class="linkeachpage" href="{% url 'manager'%}">Manager</a></div>
    </div><br>
    <h2 id="nameget">{{ name }}</h2>
    <div id="content">
        <div id="tops"><a href="{% url 'index'%}">Home</a> | <a href="{% url 'content'%}">Back</a> </div>
        <div id="top"></div>
        <div id="info"><h3>Information</h3></div>
    </div>
    <div id="chapter">
        Currently, <label id="chapter_name"></label> (<label id="chapter_count"></label>)<button type="button" id="more">More</button> Choose:<select id="choose_chapter" style="width: 130px;"><option>-</option></select><button id="prev">Prev</button><button id="next">Next</button>
    </div>
	<div id="picture"><h3>Portrayal</h3></div><div style="text-align: center;"><img src="https://i.pinimg.com/564x/1d/6a/e7/1d6ae77a8750adff10e0841753fb10ab.jpg" style="width: 400px; border-radius: 5px;" id="anounce"></div>
	<br>
    If Some link might be not able to Open. Use other version to Open. Check in Homepage.
    <div id="bottom">
        contract: <a href="https://discordapp.com/users/1055326431804137504/"><img style="width: 30px; border-radius: 10px;" src="https://i.pinimg.com/564x/66/1e/cf/661ecf66bda49150b44d25e4440e2bb8.jpg"></a> Location: Bangkok, Thailand<br>
        <br>"Attention! This website is personal collection not for commercial"
        <br>© 2023 Manhtia. Website source reserves to Manhtia, Contents credit to owner.<br>
    </div>
    <script src="{% static 'Manhtia/eachcontent.js'%}"></script>
    <script src="{% static 'Manhtia/eachcontent2.js'%}"></script>
</body>
</html>
