{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <title>My Private Manhwa</title>
    <link rel="icon" href="https://i.pinimg.com/564x/65/8d/70/658d70042f014f02a3cd0cd6bc29d7a0.jpg">
    <link rel="stylesheet" href="{% static 'Manhtia/georgeous.css' %}">
</head>
<body oncopy="return false" oncut="return false" onpaste="return false">
    <h2 id="topic">ROYAL COLLECTION CERTIFICATE</h2>
<!--*********************************work space***********************************************************-->    
    <div id="phase" style="text-align: center;"></div>
    <div id="choose" style="background-color: #f2eecb; padding: 10px;"><div id="bus" style="text-align: center;"><button id="anno" style="background-color: #49eb34; border-radius: 10px;">Announcement</button> <button id="statue" style="background-color: #49eb34; border-radius: 10px;">Statue</button> <button id="chooses" style="background-color: #49eb34; border-radius: 10px;">Choose</button></div><br></div>
    <div id="main" style="text-align: center;"></div>
    <div id="an" style="text-align: center; display: none;"></div>
    <!--******************************************************************************************************-->
    <br><br><section id="about_website" class="section_about">
        <div id="about">
            contract: <a href="https://discordapp.com/users/1055326431804137504/"><img style="width: 30px; border-radius: 10px;" src="https://i.pinimg.com/564x/66/1e/cf/661ecf66bda49150b44d25e4440e2bb8.jpg"></a> : Bangkok, Thailand<br>
            About:<label id="version"></label> <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaCP9AUgrroG45f8uz9SPU2sOXBZ8roxQ7mqXhKG1BsleVuA/viewform?usp=sf_link">Report / Help</a> | <a href="">Provision / Symbol meaning</a>
            <br>Notice: Attention! This website(Manhtia) is a personal collection, Existing is not for commercial.
            <br>© 2023 Manhtia All Rights are reserved. Website source reserves to Manhtia, Contents credit to owner.<br>
        </div>
    </section>
    <script src="{% static 'Manhtia/georgeous.js'%}"></script>
</body>
</html>