{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <title>Manhtia</title>
    <link rel="icon" href="https://i.pinimg.com/564x/6f/b1/fa/6fb1fa3c16a2aa37a4ab3d7e192b7c2d.jpg">
</head>
<body>
    <div id="head">
        <label id="name">{{ name }}</label> | If name has ' it might error, Please copy name and paste on URLsearch of your browser.
        <br>Image not load? <button id="cache">Delete cache</button>
    <div id="content" style="border: solid black; position: sticky; top: 0px; background-color: white;">
        Choose the part.<select id="part"><option>None</option></select><button id="prev">Prev</button><button id="next">Next</button><button id="searcht">Search</button><input type="radio" id="choose" name="a" value="one">Link1<input type="radio" id="choose" name="a" value="two">Link2<input type="radio" id="choose" name="a" value="three">Link3<br>
    </div>link1 is Hard load Link2 is Normal load(Recommend) Link3 is fast load.**
    <div id="show" style="width: 310px; font-size:0; margin-left: auto; margin-right: auto;"></div>
    <div id="bottom">
        <br>© 2023 Manhtia. Website source reserves to Manhtia, Contents credit to owner.<br>
    </div>
</body>
<script src="{% static 'Manhtia/privateeach.js'%}"></script>
</html>
