{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <title>Manhtia.Mature</title>
    <link rel="icon" href="https://i.pinimg.com/564x/6f/b1/fa/6fb1fa3c16a2aa37a4ab3d7e192b7c2d.jpg">
    <link rel="stylesheet" href="{% static 'Manhtia/Main/main.css' %}">
    <link rel="stylesheet" href="{% static 'Manhtia/Private/privatestyle.css' %}">
</head>
<body>
    <!--Header of pages-->
    <section id="co" class="section_connector">
        <div id="connector" class="moderndiv">
            <div><img src="https://i.pinimg.com/736x/91/a8/40/91a84051e7506a7a89dbc0cff3fce636.jpg" style="width: 30px; float: right; border-radius: 50%;" onclick="search_floater()"><span><img id="icon" src="https://i.pinimg.com/564x/6f/b1/fa/6fb1fa3c16a2aa37a4ab3d7e192b7c2d.jpg"> <label id="appname">Manhtia</label><br><label id="time"></label></span></div>
            <div id="connectors">
                <a href="{% url 'index'%}" style="font-weight: bold;">Home</a>
                <a href="{% url 'content'%}" style="font-weight: bold;">Library</a>
                <a href="{% url 'portrayal'%}" style="font-weight: bold;">Portrayal</a>
                <a href="{% url 'private'%}" style="font-weight: bold;">Mature</a>
                <a href="{% url 'manager'%}" style="font-weight: bold;">Manager</a>
            </div>
        </div>
    </section><br>
    <div id="quicksearch">
        <button id="closesearch" onclick="closesearch()">X</button>
        <div id="avdsearchpane">
            <a href="{% url 'advsearch' %}">Advance Search</a>
            <h3>Quick Search</h3><div style="width: 300px; height: fit-content;">
                EngName: <input id="name_quicks" oninput="eng_name()" style="width: 200px;" list="eng_name"><datalist id="eng_name"></datalist>
                AssName: <input id="assname_quicks" oninput="ass_name()" style="width: 200px;" list="ass_name"><datalist id="ass_name"></datalist>
                <button onclick="reset_float_name()">Reset</button><br>
                <div id="name_shows"></div>
            <br><br>
            <div style="border-bottom: 2px solid; font-weight: bold;">Common hashtag</div>
                <a href="{% url 'content' %}?common=uptoday">#Update_today</a>
                <a href="{% url 'content' %}?common=yes">#has_Website</a>
                <a href="{% url 'content' %}?common=upyesterday">#Check_translate</a>
                <a href="{% url 'content' %}?common=1">#mon</a>
                <a href="{% url 'content' %}?common=2">#tue</a>
                <a href="{% url 'content' %}?common=3">#wed</a>
                <a href="{% url 'content' %}?common=4">#thu</a>
                <a href="{% url 'content' %}?common=5">#fri</a>
                <a href="{% url 'content' %}?common=6">#sat</a>
                <a href="{% url 'content' %}?common=0">#sun</a>
                <a href="{% url 'content' %}?common=n">#unknown_date</a>
                <a href="{% url 'content' %}?rate=n">#all_age</a>
                <a href="{% url 'content' %}?rate=15">#15+</a>
                <a href="{% url 'content' %}?rate=18">#18+</a>
                <a href="{% url 'content' %}?nation=cn">#Chinese</a>
                <a href="{% url 'content' %}?nation=th">#Thai</a>
                <a href="{% url 'content' %}?mark=mark as mature content">#Mark_as_mature</a>
                <a href="{% url 'content' %}?mark=uncensored">#Uncensored</a>
                <a href="{% url 'content' %}?overall=c">#Completed</a>
                <a href="{% url 'content' %}?genre=bl">#bl</a>
                <a href="{% url 'content' %}?genre=mt">#mature</a>
                <a href="{% url 'content' %}?genre=ov">#omegaverse</a>
                <a href="{% url 'content' %}?read=y">#admin_favorite</a>
            </div><br>
        </div>
    </div>
    <!--/Header of pages-->
    <section id="notification" class="section_notification">
        <div id="notificate_pane" class="moderndiv">
            <label id="notificate">-Notification-</label>
        </div>
    </section><br>
    <h3 style="text-align: center;"><a href="https://redjajaggg.github.io/My-Private-Manhwa/ModernManhwaWeb/allmature.html">Mature Content Viewer</a></h3>
    <div class="moderndiv" id="login">
        <form id="loginform">
            <h2>Are you already 18?</h2><br>
            <label>Answer: </label>
            <input id="check" type="text" disabled><br><br>
            <button id="logbut" type="submit">Access</button><br>
            Recommend you should has age 18 Already, Before access this content.<br>
            Click 'Access' means you Agree...<br>
            If something happen such as rapist, harassment or else,<br>
            Manhtia will not take any response for those things.
        </form>
    </div><div id="others" style="text-align: center; display: none;">Other: <a href="https://redjajaggg.github.io/My-Private-Manhwa/page4.html">View</a> | <a href="https://redjajaggg.github.io/My-Private-Manhwa/ModernManhwaWeb/maturecheck.html">Mature Manager</a>
    <br><button type="button" id="opensearch" onclick="opensearch()">Search</button> Page: <select name="page" id="page" style="width: 50px;" onchange="onc()"></select> <button type="button" id="prev">Prev</button><button type="button" id="next">Next</button>|<button id="go" type="submit">Go</button>
    </div>
    <div id="data" class="moderndiv" style="display: none;">
        Name: <input id="namesg" placeholder="Search by Name..." style="width: 200px; border: none; border-radius: 5px; background-color: pink;" list="list"><datalist id="list"></datalist><br>
        Check: 
        <select id="markasmature" onchange="search(0)">
            <option value="none">-</option>
            <option value="mark as mature">Not Exists(Soon)</option>
            <option value="uncensored">Uncensored</option>
        </select> Or 
        <select id="finish" onchange="search(1)">
            <option value="none">-</option>
            <option value="Finish">Finish</option>
        </select><br>
        <button onclick="reset()">Reset</button>
        <div id="data_show_search"></div>
    </div><br>
    <div id="content" class="moderndiv">

    </div><br>
    <div class="exbig">
        <iframe class="exbigiframe" src="https://redjajaggg.github.io/My-Private-Manhwa/ModernManhwaWeb/currency.html"></iframe>
    </div>
    <section id="sources" class="section_sources">

        <h2>Includes Sources</h2>
        <div id="app" class="moderndiv"></div><br>
        <div class="moderndiv" id="filterhashtag">
            <a href="{% url 'content' %}?common=uptoday&developer=allow">#Update_today</a>
            <a href="{% url 'content' %}?common=yes&developer=allow">#has_Website</a>
            <a href="{% url 'content' %}?common=upyesterday&developer=allow">#Check_translate</a>
            <a href="{% url 'content' %}?rate=18&developer=allow">#18+</a>
            <a href="{% url 'content' %}?nation=cn&developer=allow">#Chinese</a>
            <a href="{% url 'content' %}?mark=mark as mature content&developer=allow">#Mark_as_mature</a>
            <a href="{% url 'content' %}?mark=uncensored&developer=allow">#Uncensored</a>
            <a href="{% url 'content' %}?overall=c&developer=allow">#Completed</a>
            <a href="{% url 'content' %}?genre=bl&developer=allow">#bl</a>
            <a href="{% url 'content' %}?genre=mt&developer=allow">#mature</a>
            <a href="{% url 'content' %}?genre=ov&developer=allow">#omegaverse</a>
            <a href="{% url 'content' %}?read=y&developer=allow">#admin_favorite</a>
        </div><br>

    </section><br>
    <a id="lite">(Manhtia Lite)</a>
    <section id="about_website" class="section_about">
        <div id="about">
            contract: <a href="https://discordapp.com/users/1055326431804137504/"><img style="width: 30px; border-radius: 10px;" src="https://i.pinimg.com/564x/66/1e/cf/661ecf66bda49150b44d25e4440e2bb8.jpg"></a> : Bangkok, Thailand<br>
            About:<label id="version"></label> <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaCP9AUgrroG45f8uz9SPU2sOXBZ8roxQ7mqXhKG1BsleVuA/viewform?usp=sf_link">Report / Help</a> | <a href="">Provision / Symbol meaning</a>
            <br>Notice: Attention! This website(Manhtia) is a personal collection, Existing is not for commercial.
            <br>© 2023 Manhtia All Rights are reserved. Website source reserves to Manhtia, Contents credit to owner.<br>
        </div>
    </section>
</body>
<script src="{% static 'Manhtia/Main/template.js'%}"></script>
<script src="{% static 'Manhtia/Main/common.js'%}"></script>
<script src="{% static 'Manhtia/Private/private.js'%}"></script>
</html>