#content{
    padding: 10px;
    overflow: hidden;
    width: 99%;
    text-align: center;
    height: fit-content;
}
#search_pic{
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    text-align: center;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black;
    width: 100px;
}
.eachpic{
    border-radius: 10px;
    width: 300px;
    border: none;
}
.eachpic:hover{
    -webkit-transform: scale(2.0) rotate(0.00deg);
    transform: scale(1.2) rotate(0.00deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
