#content{
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 10px;
}
#login{
    text-align: center;
}
#data{
    text-align: left;
}
#each{
    border-radius: 22px;
    text-align: left;
    width: 300px;
    padding: 5px;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#each:hover{
    -webkit-transform: scale(2.0) rotate(0.00deg);
    transform: scale(1.1) rotate(0.00deg);
}
.exbig{
    width: 99%;
}
.exbigiframe{
    width: 99%;
    height: 230px;
    border: none;
    border-radius: 22px;
}