body{
    padding-left: 30px;
    padding-right: 30px;
}
#head{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
}
#top{
    text-align: center;
    overflow: hidden;
}
#info{
    background-color: bisque;
    padding: 5px;
    border-radius: 5px;
    width: 45%;
    float: left;
    min-width: 320px;
}
#chapter{
    background-color: rgb(224, 239, 68);
    padding: 5px;
    border-radius: 5px;
    width: 45%;
    float: right;
    text-align: left;
    min-width: 270px;
}
#picture{
    background-color: rgb(218, 254, 255);
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
}
img{
    border-radius: 5px;
    width: 300px;
}