.label{
    font-family: "Brush Script MT",cursive;
}
body{
    background-color: rgb(224, 141, 141);
    font-family: "Brush Script MT",cursive;
}
a:link {
    text-decoration: none;
    font-family: "Brush Script MT",cursive;
}
a:hover, a:active {
    background-color: red;
}
select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 10%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    text-align: center;
    line-height: inherit;
  }
#parent{
    white-space: nowrap;
    overflow-x: auto;
}
.child {
    display: inline-block;
    width: 50%;
    height: 100%;
}
.gomain{
    font-family: "Brush Script MT",cursive;
}
ol{
    list-style-type: upper-roman;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
.button{
    font-family: "Brush Script MT",cursive;
}
#reals{
    font-family: "Brush Script MT",cursive;
    background-color: rgb(152, 243, 61);
    border-radius: 10px;
}
#clear1{
    font-family: "Brush Script MT",cursive;
    background-color: rgb(152, 243, 61);
    border-radius: 10px;
}
#edit{
    font-family: "Brush Script MT",cursive;
    background-color: rgb(152, 243, 61);
    border-radius: 10px;
}
form {
    background-color: #4654e1;
    width: 260px;
    height: 50px;
    border: 2px solid;
    margin-left: auto;
    border-radius: 7px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.formcenter {
    background-color: #4654e1;
    width: 10px;
    height: 50px;
    border: 2px solid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
::placeholder {
    color: #fff;
    opacity: 0.7; 
  }
input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  .buttons {
    background-color: rgb(152, 243, 61);
    border-radius: 30px;
    padding: 6px;
    font-family: "Brush Script MT",cursive;
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }
  .homeicon{
      border: 1px solid;
      border-radius: 5px;
      width: 25px;
  }
/*index.html*/
#manhwah1{
    text-align: center;
    color:chocolate;
    padding: 6px;
    border: 6px solid black;
    background-color:aqua;
    font-family: "Brush Script MT",cursive;
    font-style: bold;
    font-size: 50px;
    border-radius: 15px;
}
.underline {
    background-repeat: repeat-x;
  }
.underline--stars {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/star.svg");
    background-position: 0 1.06em;
    background-size: 10px 9px;
  }
#main{
    background-color: rgb(215, 252, 255);
    font-family: "Brush Script MT",cursive;
    display: table;
    border: 5px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.colme{
    float: left;
    width: 40%;
    text-align: center;
}
.row:after {
    content: “”;
    display: table;
    clear: both;
}
#qr{
    border: 5px;
    width: 300px;
    padding: 5px;
    background-color: bisque;
    font-family: "Brush Script MT",cursive;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
}
#website{
    border: 5px;
    width: 300px;
    padding: 5px;
    background-color: bisque;
    font-family: "Brush Script MT",cursive;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    position: sticky;
    top: 20px;
}
#mes{
    border: 5px;
    width: 330px;
    padding: 5px;
    background-color: bisque;
    font-family: "Brush Script MT",cursive;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    position: sticky;
    top: 10px;
}
#covers{
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
}
#covers:active{
    -webkit-transform: scale(2.0) rotate(0.00deg);
    transform: scale(2.0) rotate(0.00deg);
}
  
#expand-contract.expanded {
     margin-top: 0;
}
#cantfind{
    text-align: right;
    font-family: "Brush Script MT",cursive;
}
#caption{
    text-align: center;
    font-family: "Brush Script MT",cursive;
}
.intopic{
    border: 6px solid;
    background-color: rgb(133, 201, 45);
    width: 300px;
    padding: 5px;
    text-align: center;
    font-family: "Brush Script MT",cursive;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.image{
    width: 93px;
    border-radius: 10px;
}
.inlist{
    text-align: left;
    border: 3px solid;
    padding: 3px;
    background-color: bisque;
    font-family: "Brush Script MT",cursive;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
#maincontenth3{
    border: 6px solid;
    padding: 5px;
    background-color: rgb(133, 201, 45);
    text-align: center;
    font-family: "Brush Script MT",cursive;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
#cname{
    border: 6px solid;
    padding: 5px;
    background-color: rgb(133, 201, 45);
    text-align: center;
    font-family: "Brush Script MT",cursive;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
#caption{
    background-color: brown;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px;
    font-family: "Brush Script MT",cursive;
}


/*page2.html*/
#contenth2{
    text-align: center;
    border: 6px solid;
    padding: 5px;
    font-family: "Brush Script MT",cursive;
    background-color: rgb(133, 201, 45);
    border-radius: 15px;
}
.contentname{
    font-family: "Brush Script MT",cursive;
}
.contentbut{
    background-color: rgb(152, 243, 61);
    border-radius: 30px;
    padding: 6px;
    font-family: "Brush Script MT",cursive;
}
button:hover{
    background-color: rgb(65, 226, 159);
}


/*page3.html*/
#myloveh2{
    text-align: center;
    border: 4px solid;
    font-family: "Brush Script MT",cursive;
    padding: 3px;
}
.mylovelabel{
    background-color: rgb(80, 205, 255);
    border: 4px solid;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    font-family: "Brush Script MT",cursive;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}
.mp{
    width: 325px;
    border: 3px solid;
    padding: 8px;
    background-color: cornsilk;
    border-radius: 10px;
}


/*page4.html*/
#darkcontenth2{
    text-align: center;
    font-family: "Brush Script MT",cursive;
}
.darklabel{
    background-color: aquamarine;
    font-family: "Brush Script MT",cursive;
    padding: 5px;
    width: 300px;
    border-radius: 5px;
}
.darklist{
    width: 320px;
    background-color: rgb(173, 227, 34);
    border: 5px solid;
    border-radius: 8px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
/*Other*/
.eachp{
    margin-left: auto;
    margin-right: auto;
}
.eachone{
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
    background-color:cyan;
    padding: 10px;
    width: 320px;
    border-radius: 10px;
}
.mp2{
    width: 310px;
    border: 3px solid;
    padding: 8px;
    background-color: cornsilk;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.mpd{
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    text-align: center;
}
.mylovelabel1{
    background-color: rgb(80, 205, 255);
    border: 4px solid;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    font-family: "Brush Script MT",cursive;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}
.mp21{
    width: 330px;
}
.dmp21center{
    width: 330px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#dmp22center{   
    width: 330px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#dmp23center{   
    width: 330px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.contentbutbig{
    background-color: rgb(152, 243, 61);
    border-radius: 30px;
    padding: 6px;
    font-family: "Brush Script MT",cursive;
    font-size: 100px;
}
.tableall{
    border-radius: 10px; 
    border:3px solid black; 
    margin-left:auto;
    margin-right:auto; 
    font-family: "Brush Script MT",cursive;
    background-color: black;
    width: 345px;
}
.tablesome{
    
    margin-left:auto;
    margin-right:auto; 
    font-family: "Brush Script MT",cursive;
    background-color: chartreuse;
    width: 345px;
}
.vdoporn{
    width: 330px;
}
#contrainer{
    width: 330px;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 10px; 
    border:3px solid black;
    background-color: yellow;
    padding: 10px;
    font-family: "Brush Script MT",cursive;
    
}