/*Theme*/
:root{
    --backgroundgold-main: rgb(214, 189, 104);
    --backgroundwhite-main: white;
    --backgroundred-main: red;
    --backgroundpink-main: #f0a6a1;
    --backgroundblack-main: black;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --fontfamily-main: Tahoma, Verdana, Segoe, sans-serif;
    --borderraiusdiv-main: 30px;
    --paddingdiv-main: 10px;
}

/*Body main*/
body{
    background-color: var(--backgroundgold-main);
    font-family: var(--fontfamily-main);
    padding-top: 0;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--backgroundgold-main);
}
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: black;
}

/*head*/
#connector{
    background-color: var(--backgroundwhite-main);
    border-radius: var(--borderraiusdiv-main);
    padding: var(--paddingdiv-main);
    overflow: hidden;
    box-shadow: var(--shadow);
}
#connector::-webkit-scrollbar {
    display: none;
}
/*head elements*/
#connectors{
    border-top: solid black 2px;
}
#appname{
    font-size: 50px;
    font-family: "Brush Script MT",cursive;
}
#icon{
    width: 40px;
    border-radius: 20px;
    animation-name: rotates;
    animation-duration: 3s;
}
#icon:hover{

    animation-name: rotates;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    
}
@keyframes rotates {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*common element in pages*/
button{
    border: none;
    border-radius: var(--borderraiusdiv-main);
    padding: var(--paddingdiv-main);
    background-color: var(--backgroundred-main);
    font-family: var(--fontfamily-main);
    box-shadow: var(--shadow);
}
button:hover{
    background-color: var(--backgroundpink-main);
}
input{
    border: none;
    border-bottom: solid var(--backgroundblack-main);
    background: none;
}
select{
    background: none;
    border: none;
}
a{
    text-decoration: none;
    padding: 5px;
    color: var(--backgroundblack-main);
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    
}
a:hover, a:active {
    background-color: var(--backgroundred-main);
    border-radius: var(--borderraiusdiv-main);
}
.modernlink{
    border-top: solid 1px var(--backgroundblack-main);
    border-bottom: solid 1px var(--backgroundblack-main);
}
.moderndiv{
    background-color: var(--backgroundwhite-main);
    border-radius: var(--borderraiusdiv-main);
    padding: var(--paddingdiv-main);
    overflow: auto;
    justify-items: center;
    box-shadow: var(--shadow);    
}
.moderndiv:hover{
    box-shadow: none;
}/*
.moderndiv::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0.2);
}*/
#name{
    padding: 10px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
    text-align: left;
    overflow: hidden;
}

/*bottom*/
#bottom{
    margin-left: auto;
    margin-right: auto;
    padding: var(--paddingdiv-main);
    border-radius: var(--borderraiusdiv-main);
}
/*includes apps*/
#app{
    text-align: center;
    padding: 10px;
    overflow: auto;
    max-height: 300px;
}
#slink{
    width: 100px;
    border-radius: var(--borderraiusdiv-main);
}

/*exchange frame*/
#exchange{
    width: 400px;
}
#exshow{
    width: 390px;
    height: 320px;
    border: none;
    border-radius: 22px;
}
#process{
    top: 50%;
    left: 50%;
    width: 30em;
    height: 20em;
    margin-top: -9em;
    margin-left: -15em;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px solid red;
    background-color: rgb(240, 112, 112);
    position: fixed;
    overflow: auto;
}
#bookmark_{
    top: 50%;
    left: 50%;
    width: 30em;
    height: 20em;
    margin-top: -9em;
    margin-left: -15em;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px solid red;
    background-color: rgb(240, 112, 112);
    position: fixed;
    overflow: auto;
}
#quicksearch{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 2px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}
#normal_show_stories{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 2px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}
#avdsearchpane{
    background-color: rgb(240, 112, 112);
    width: 320px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    height: 100%;
    overflow: auto;
}
#closesearch{
    position: fixed;
    top: 15px;
    right: 20px;
    font-weight: bold;
}
#qsearchbutton{
    display: block;
    position: fixed;
    z-index: 3;
    bottom: 5px;
    right: 5px;
    font-weight: bold;
}
#filterhashtag{
    height: 30px;
    overflow: auto;
    text-align: left;
    white-space: nowrap;
}