{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <title>My Private Manhwa</title>
    <link rel="icon" href="https://i.pinimg.com/564x/65/8d/70/658d70042f014f02a3cd0cd6bc29d7a0.jpg">
    <link rel="stylesheet" href="{% static 'MyPrivateManhwa/georgeous.css' %}">
</head>
<body oncopy="return false" oncut="return false" onpaste="return false">
    <h2 id="topic">ROYAL COLLECTION CERTIFICATE</h2>
<!--*********************************work space***********************************************************-->    
    <div id="phase" style="text-align: center;"></div>
    <div id="choose" style="background-color: #f2eecb; padding: 10px;"><div id="bus" style="text-align: center;"><button id="anno" style="background-color: #49eb34; border-radius: 10px;">Announcement</button> <button id="statue" style="background-color: #49eb34; border-radius: 10px;">Statue</button> <button id="chooses" style="background-color: #49eb34; border-radius: 10px;">Choose</button></div><br></div>
    <div id="main" style="text-align: center;"></div>
    <div id="an" style="text-align: center; display: none;"></div>
    <!--******************************************************************************************************-->
    <br><br>© 2022 My Private Manhwa. Website source reserves to My Private Manhwa.
    <br><a href="index.html"><img class="homeicon" src="https://i.pinimg.com/564x/2b/05/8d/2b058d9e38670c731169bcdbf62652a6.jpg"></a>
    <a href="index.html"><img class="homeicon" src="https://i.pinimg.com/564x/8a/67/be/8a67befed4bb41837186774172c7bf30.jpg"></a>
    <script src="{% static 'MyPrivateManhwa/georgeous.js' %}"></script>
</body>
</html>