{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <title>My Private Manhwa</title>
    <link rel="icon" href="https://i.pinimg.com/564x/65/8d/70/658d70042f014f02a3cd0cd6bc29d7a0.jpg">
    <link rel="stylesheet" href="{% static 'MyPrivateManhwa/style.css' %}">
</head>
<body>
    <div id="head" style="position: fixed; border-bottom: 2px solid; top: 0px; width: 100%; background-color: rgb(224, 141, 141); height: 40px; padding: 5px;">
        <div id="parent" id="left_head" style="float: left; overflow: hidden; float: left; width: 80%;"><span>
            <img class="child" id="menu_down" src="https://i.pinimg.com/564x/65/8d/70/658d70042f014f02a3cd0cd6bc29d7a0.jpg" style="width: 40px; border-radius: 10px;" onclick="location.reload();">
            <img id="content" class="child" src="https://i.pinimg.com/564x/ff/de/fb/ffdefb9c1ae2e4542b9be7cb1617285e.jpg" style="width: 240px; border-radius: 10px;">
            <div id="pages" class="child">
                <a href="{% url 'content'%}"><img id="content" class="child" src="https://i.pinimg.com/564x/7f/91/93/7f9193af1c9f47b9fa7988e660dc1bcc.jpg" style="width: 80px;"></a>
                <a href="{% url 'portrayal'%}"><img id="portray" class="child" src="https://i.pinimg.com/564x/3c/9f/f0/3c9ff0f80c36e107102928fc550fe9fc.jpg" style="width: 80px;"></a>
                <a href="{% url 'private'%}"><img id="private" class="child" src="https://i.pinimg.com/564x/1c/4c/ce/1c4cce12ccebc3cc84e0ad4fd5810eb6.jpg" style="width: 80px;"></a>
            </div>
        </div>
        <div id="right_head" style="float: right; width: 20%;"><div id="check_head1">
            <img class="child" src="https://i.pinimg.com/564x/20/84/d5/2084d52de67b409823d500f04f7f15c3.jpg" style="width: 40px; border-radius: 10px;">
            <a href="https://drive.google.com/file/d/15xqdf8nmFWE1a3qkyMd5_DovhRjCAvRD/view?usp=sharing"><img class="child" id="menu_down" src="https://i.pinimg.com/564x/f7/25/ad/f725adcb71858375eeddbdcc123259cb.jpg" style="width: 40px; border-radius: 10px;"></a>
            <a href="{% url 'manager'%}"><img class="child" src="https://i.pinimg.com/564x/68/b3/6d/68b36d7bab2ce5db6f27f1df36367d64.jpg" style="width: 40px; border-radius: 10px;"></a>
            <a href="https://discordapp.com/users/1055326431804137504/"><img class="child" id="menu_down" src="https://i.pinimg.com/564x/66/1e/cf/661ecf66bda49150b44d25e4440e2bb8.jpg" style="width: 40px; border-radius: 10px;"></a>
            </div><div id="check_head2">
                <img class="child" onclick="myFunction();" id="menu_down" src="https://i.pinimg.com/564x/d3/86/cd/d386cdbd94fea2be7882d01c02b2cc11.jpg" style="width: 40px; border-radius: 10px;">
                <div id="myDropdown" class="dropdown-content">
                    <a href="{% url 'content'%}">Content</a>
                    <a href="{% url 'portrayal'%}">Portrayal</a>
                    <a href="{% url 'private'%}">Private</a>
                    <a href="{% url 'manager'%}">ManhwaManager</a>
                    <a href="#">Search</a>
                    <a href="https://discordapp.com/users/1055326431804137504/">Contract</a>
                    <a href="https://drive.google.com/file/d/15xqdf8nmFWE1a3qkyMd5_DovhRjCAvRD/view?usp=sharing">Download</a>
                  </div>
            </div>
        </div>
    </div><br><br><br>
    <div style="text-align: center;">
        <a href="{% url 'georgeous'%}"><img src="https://i.pinimg.com/564x/5c/dc/93/5cdc93af868b501a52050321ac62a0f9.jpg" width="315px" style="border: 3px solid; border-radius: 10px;"></a><br><h1>MY MANHWA'S LIBRARY</h1>
    </div>
    <div id="main" style="top: 50px; background-color: chartreuse; width: 90%;">
        <div class="inlist" class="parent" id="recommendation" style="text-align: center; padding: 7px;"><h2 style="text-decoration: underline;">Recommendation</h2>
        
        </div><br>
        <div class="inlist" id="tool" style="text-align: left; padding: 7px; overflow: hidden;">
            <div id="ooo">
                <h2 style="text-decoration: underline;">The Tool</h2>
                <ol>
                    <li>Former Website <a href="https://a21acjuz391nyjljvyif1q.on.drv.tw/www.myprivatelove.com/">here</a></li>
                    <li>Google Translate <a href="https://translate.google.com/">here</a></li>
                    <li>Oxford dictionaries <a href="https://www.oxfordlearnersdictionaries.com/">here</a></li>
                </ol>
            </div>
            <div id="ttt">
                <h2 style="text-decoration: underline;">Another Included Website</h2>
                <label>English Translation(Free)</label>
                <ul id="webread">
                    <li>1stkissmanga <a href="https://1stkissmanga.io/">here</a></li>
                    <li>Kunmanga <a href="https://kunmanga.com/">here</a></li>
                    <li>Mangachill <a href="https://mangachill.love/">here</a></li>
                    <li>Muctau <a href="https://muctau.com/">here</a></li>
                    <li>Coffeemanga <a href="https://coffeemanga.com/">here</a></li>
                    <li>Topmanhua <a href="https://www.topmanhua.com/">here</a></li>
                    <li>Harimanga <a href="https://harimanga.com/read-top-manhwa/">here</a></li>
                    <li>Yugenmangas (Spanish) <a href="https://yugenmangas.com/">here</a></li>
                    <br>
                    <label>And there are a lot of website to read.</label>
                </ul>
            </div>
            <div id="tht">
                <h2 style="text-decoration: underline;">Off Topic</h2>
                    <a href="{% url 'content'%}">Content</a>|
                    <a href="{% url 'portrayal'%}">Portrayal</a>|
                    <a href="{% url 'private'%}">Private</a>|
                    <a href="{% url 'manager'%}">ManhwaManager</a>
                <ul id="webread">
                    <li>Off Content <a href="{% url 'offtopic'%}">here</a></li>
                    <li>Manhwa waiting <a href="{% url 'waiter'%}">here</a></li>
                    <br>
                    <label>Meditation <a href="https://redjajaggg.github.io/My-Private-Manhwa/meditation.html">Use here</a></label><br>
                    <label>Off topic content (Animation or else).</label>
                </ul>
            </div>
        </div><br>
        <div class="inlist" class="parent" id="rawapp" style="text-align: left; padding: 7px;"><h2 style="text-decoration: underline;">The Raw App</h2><label>Korean</label><br>
            <a href="https://page.kakao.com/"><img class="image" class="child" src="https://i.pinimg.com/564x/88/3f/70/883f706ec8c99294bb681fa60ab066ab.jpg"></a>
            <a href="https://comic.naver.com/index.nhn"><img class="image" class="child" src="https://i.pinimg.com/564x/0a/24/a1/0a24a1829981119c8698987b4f2119b6.jpg"></a>
            <a href="https://ridibooks.com/"><img class="image" class="child" src="https://i.pinimg.com/564x/1c/39/57/1c3957bb755aa8d728107358786da64c.jpg"></a>
            <a href="https://newtoki287.com/"><img class="image" class="child" src="https://i.pinimg.com/564x/c0/90/57/c09057cafe1f05858af0a3861d3f7deb.jpg"></a>
            <a href="https://toonkor200.com/%EC%9B%B9%ED%88%B0"><img class="image" class="child" src="https://i.pinimg.com/564x/03/8e/ac/038eac3f3acc7fdad2ec48a4867d05b8.jpg"></a>
            <a href="https://booktoki283.com/"><img class="image" class="child" src="https://i.pinimg.com/564x/90/7f/4e/907f4e4ea32518173083ceacbb99ad79.jpg"></a>
            <br><label>Spoil(Check Search Only Title)</label><br>
            <a href="https://forum.novelupdates.com/forums/spoilers.1030/?order=post_date&direction=desc"><img class="image" class="child" src="https://i.pinimg.com/564x/9a/19/10/9a19108b7ba8e28affe89e450e3fe037.jpg"></a>
            <br><label>Download Raw Website</label><br>
            <a href="https://rawkuma.com/"><img class="image" class="child" src="https://i.pinimg.com/564x/3a/91/6c/3a916c1a9d1c7079525f61dd31389412.jpg"></a>
            <br>
            <label>English Translation(RAW)</label><br>
                <a href="https://www.tappytoon.com/"><img class="image" class="child" src="https://i.pinimg.com/564x/10/33/62/103362639d352b5f49c89d2462cb5868.jpg"></a>
                <a href="https://manta.net/"><img class="image" class="child" src="https://i.pinimg.com/564x/97/be/d5/97bed5b31748542d160c10607d1fd43b.jpg"></a>
                <a href="https://tapas.io/comics"><img class="image" class="child" src="https://i.pinimg.com/564x/15/02/a9/1502a9fee0e4dd534b17be0b39ce5461.jpg"></a>
            <br>
            <label>Thai Translation(RAW)<br>
                <a href="https://th.kakaowebtoon.com/"><img class="image" class="child" src="https://i.pinimg.com/564x/eb/6d/66/eb6d6632dae82dfe2a2b84725bf36cdd.jpg"></a>
                <a href="https://www.webtoons.com/th/"><img class="image" class="child" src="https://i.pinimg.com/564x/0a/24/a1/0a24a1829981119c8698987b4f2119b6.jpg"></a>
        </div><br>
        
        <div class="inlist" id="share" style="text-align: left; padding: 7px;"><h2 style="text-decoration: underline;">Share</h2>
            <div id="qr">
                <img src="https://i.pinimg.com/564x/ff/93/d6/ff93d6d4bf7c279a1ddaddeccdb63996.jpg" id="qrcode" width="100"><br>
                <img src="https://i.pinimg.com/564x/5b/13/5e/5b135e71f37f75473e9d9f50144d085b.jpg" id="cowork" width="300">
                <a href="https://drive.google.com/file/d/17EE-ez0C402zFdQWW3hlifCZqwgP00Vz/view?usp=share_link id="cowork"">Manhtia</a>
            </div>
        </div><br>
    </div><br>
    <form class="form" action="https://www.google.com/search" method="get">
        <input type="text" id="query" name="q" placeholder="Search Manhwa here...">
        <button class="buttons">Search</button>
    </form>
    <br>
    contract: <a href="https://discordapp.com/users/1055326431804137504/"><img style="width: 30px; border-radius: 10px;" src="https://i.pinimg.com/564x/66/1e/cf/661ecf66bda49150b44d25e4440e2bb8.jpg"></a> Location: Bangkok, Thailand
    <br>
    © 2022 My Private Manhwa. Website source reserves to My Private Manhwa, Contents credit to owner.
    <h5 id="caption">"Attention! This website is personal collection not for commercial"</h5>
</body>
<script>
    const data_csv_format = "https://docs.google.com/spreadsheets/d/12OgnnIYoeG3oa5prcZ5HgzjuECPCk4FmBhCf_ecV_TY/export?format=csv";
    if(window.innerWidth <= 400){
        document.getElementById("check_head1").style.display = "none";
        document.getElementById("pages").style.display = "none";
        function myFunction(){
            if(document.getElementById("myDropdown").style.display == "block"){
                document.getElementById("myDropdown").style.display = "none";
            }
            else{
                document.getElementById("myDropdown").style.display = "block";
            }
        };
    }
    else{
        document.getElementById("check_head2").style.display = "none";
        document.getElementById("ooo").style.width = "250px";
        document.getElementById("ttt").style.width = "250px";
        document.getElementById("tht").style.width = "250px";
        document.getElementById("ooo").style.float = "left";
        document.getElementById("ttt").style.float = "left";
        document.getElementById("tht").style.float = "left";
    }
    

    fetch(data_csv_format).then(result=>result.text()).then(function (csvtext){return csv().fromString(csvtext);}).then(function(csv){appenddata(csv);});
    
    function appenddata(data){

        var name = [];
        var pics = [];
        for(var i = 0; i < data.length; i++){
            name.push(data[i].Name);
            pics.push(data[i].Cover);
        }
        
        var randoml = Math.floor(Math.random() * (data.length + 1));
        var randomr = Math.floor(Math.random() * (data.length + 1));
        var randomk = Math.floor(Math.random() * (data.length + 1));
        var randomj = Math.floor(Math.random() * (data.length + 1));

        var one = document.createElement("div");
        var two = document.createElement("div");
        var thr = document.createElement("div");
        var fou = document.createElement("div");

        var nam1 = document.createElement("div");
        var nam2 = document.createElement("div");
        var nam3 = document.createElement("div");
        var nam4 = document.createElement("div");

        var img1 = document.createElement("img");
        var img2 = document.createElement("img");
        var img3 = document.createElement("img");
        var img4 = document.createElement("img");

        nam1.innerHTML = name[randoml];
        nam2.innerHTML = name[randomr];
        nam3.innerHTML = name[randomk];
        nam4.innerHTML = name[randomj];
        
        img1.setAttribute('src', pics[randoml]);
        img2.setAttribute('src', pics[randomr]);
        img3.setAttribute('src', pics[randomk]);
        img4.setAttribute('src', pics[randomj]);
        img1.style.borderRadius = "10px";
        img1.style.width = "290px";
        img1.style.border = "4px solid";
        img2.style.borderRadius = "10px";
        img2.style.width = "290px";
        img2.style.border = "4px solid";
        img3.style.borderRadius = "10px";
        img3.style.width = "290px";
        img3.style.border = "4px solid";
        img4.style.borderRadius = "10px";
        img4.style.width = "290px";
        img4.style.border = "4px solid";

        one.style.textAlign = "center";
        one.style.width = "300px";
        two.style.textAlign = "center";
        two.style.width = "300px";
        thr.style.textAlign = "center";
        thr.style.width = "300px";
        fou.style.textAlign = "center";
        fou.style.width = "300px";

        one.appendChild(img1);
        one.appendChild(nam1);
        one.className = "child";
        document.getElementById("recommendation").appendChild(one);
        two.appendChild(img2);
        two.appendChild(nam2);
        two.className = "child";
        document.getElementById("recommendation").appendChild(two);
        thr.appendChild(img3);
        thr.appendChild(nam3);
        thr.className = "child";
        document.getElementById("recommendation").appendChild(thr);
        fou.appendChild(img4);
        fou.appendChild(nam4);
        fou.className = "child";
        document.getElementById("recommendation").appendChild(fou);

    }

    document.getElementById("cowork").style.display = "none"
    document.getElementById("qrcode").onclick = () => {
        if(document.getElementById("qrcode").offsetWidth == 100){
            document.getElementById("qrcode").style.width = "300px";
        }
        else{
            document.getElementById("qrcode").style.width = "100px";
        }
        if(document.getElementById("cowork").style.display === "none"){
            document.getElementById("cowork").style.display = "block";
        }
        else{
            document.getElementById("cowork").style.display = "none"
        }
    }
</script>
</html>