{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <title>Manhwa Manager</title>
    <link rel="icon" href="https://i.pinimg.com/564x/68/b3/6d/68b36d7bab2ce5db6f27f1df36367d64.jpg">
</head>
<body>
    <a href="{% url 'index'%}">Home</a> <a href="{% url 'content'%}">Content</a> <a href="{% url 'private'%}">Private</a> <a href="{% url 'georgeous'%}">Georgeous</a> <a href="https://redjajaggg.github.io/My-Private-Manhwa/provision.html">Provision of Services' data</a><br>
    <!--**********************************working space*******************************************************-->
    <div style="text-align: center;"><img src="https://i.pinimg.com/564x/68/b3/6d/68b36d7bab2ce5db6f27f1df36367d64.jpg" style="width: 120px; margin-left: auto; margin-right: auto;"></div>
    <div id="all" style="width: 500px; margin-left: auto; margin-right: auto; border-radius: 10px; border:3px solid chartreuse; padding: 15px;">
        
        <h3 class="contentname">Search Pane</h3>
        <label>Search location (Type only 1 block)</label>
        <form>
            <label>Name: </label>
            <input type="text" class="clear1" list="namesss" id="names" name="names" placeholder="eq. How to hide the emperor's chid">
            <datalist id="namesss"></datalist><br>
            <label>Part: </label><input type="text" class="clear1" id="parts" name="parts" placeholder="eq. 6"><br>
            <label>Number: </label><input type="text" class="clear1" id="numbers" name="numbers" placeholder="eq. 16"><br>
            <label>Status: </label><input type="text" class="clear1" id="statuss" name="statuss" placeholder="eq. ongoing / end"><br>
            <label>Website: </label><input type="text" class="clear1" id="haswebs" name="haswebs" placeholder="eq. yes / no"><br>
            <label>Date: </label><input type="text" class="clear1" id="dates" name="dates" placeholder="eq. 1"><br><label>***1=Mon-Tue, 2=Tue-Wed, 3=Wed-Thu, 4=Thu-Fri, 5=Fri-Sat, 6=Sat-Sun, 7=Sun-Mon</label><br>
            <button type="button" id="search">search</button> <button type="button" id="cleartext1">clear</button> <button type="button" id="reload">reset</button>
            <a href="https://redjajaggg.github.io/My-Private-Manhwa/managecontrol.html">Data Manage</a>
        </form><br></div><br>
        <div id="search" style="width: 500px; margin-left: auto; margin-right: auto; border-radius: 10px; border:3px solid cyan; padding: 15px;">
            <label>Search Infomation </label><label id="count">( Found: null )</label>
            <div id="show"></div>
        </div><br>
        © 2022 My Private Manhwa. Website source reserves to My Private Manhwa.        
    <!--******************************************************************************************************-->

    <script src="{% static 'MyPrivateManhwa/manager.js' %}"></script>
</body>
</html>
