{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <title>My Private Manhwa</title>
    <link rel="icon" href="https://i.pinimg.com/564x/65/8d/70/658d70042f014f02a3cd0cd6bc29d7a0.jpg">
    <link rel="stylesheet" href="{% static 'MyPrivateManhwa/style.css' %}">
</head>
<body>
    <a href="index.html"><img class="homeicon" src="https://i.pinimg.com/564x/2b/05/8d/2b058d9e38670c731169bcdbf62652a6.jpg"></a>

    <h2 id="contenth2">Off content</h2>
    
    <!--**********************************working space*******************************************************-->
    <div id="all" style="width: 300px; margin-left: auto; margin-right: auto; border-radius: 10px; border:3px solid chartreuse; padding: 15px; background-color: rgb(114, 246, 134);">
        <h3>Search Pane</h3> **Type only one<br>
        Name: <input style="width: 300px;" type="text" class="clear1" list="namess" id="nameget" name="name" placeholder="eq. Conan">
        <datalist id="namess"></datalist><br>
        Specific Name: <input style="width: 300px;" type="text" class="clear1" list="namesss" id="namesget" name="names" placeholder="eq. Conan : the movie 1">
        <datalist id="namesss"></datalist><br>
        <button class="contentbut" type="button" id="search">search</button> <button class="contentbut" type="button" id="cleartext1">clear</button>
        <br><h3 class="contentname">Editor Pane</h3>
        <h4 class="contentname"><a href="https://docs.google.com/spreadsheets/d/1QSKNpJMKRRC88XWmtBL1POLiCaYI8c9CFNxNzQ1VOak/edit?usp=sharing"><button class="contentbut" id="maindatatable">DataTable</button></a> <a href="https://script.google.com/macros/s/AKfycbwgqIFDh7kwbNBH7ZebIJpsj4DeJVdl-RZqEvlr4xzgxWIKrhsZ__x1oH7bDyburWz3fg/exec"><button class="contentbut">Add new</button></a></h4>
        </div><br>
        <div id="searchs" style="width: 300px; margin-left: auto; margin-right: auto; border-radius: 10px; border:3px solid cyan; padding: 15px; background-color: azure;">
            <label>Search Infomation </label><label id="count">( Found: null )</label>
            <div id="show"></div>
        </div><br>
        <div id="showall" style="width: 300px; margin-left: auto; margin-right: auto; border-radius: 10px; border:3px solid chartreuse; padding: 15px; background-color: bisque;">Loading...</div>        
    <!--******************************************************************************************************-->

    <script src="{% static 'MyPrivateManhwa/offtopic.js' %}"></script>
</body>
</html>