{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <title>My Private Manhwa</title>
    <link rel="icon" href="https://i.pinimg.com/564x/65/8d/70/658d70042f014f02a3cd0cd6bc29d7a0.jpg">
    <link rel="stylesheet" href="{% static 'MyPrivateManhwa/style.css' %}">
</head>
<body>
    <a href="index.html"><img class="homeicon" src="https://i.pinimg.com/564x/2b/05/8d/2b058d9e38670c731169bcdbf62652a6.jpg"></a>
    <h2 id="contenth2">Manhwa's Portrayal</h2>
    <div id="head" style="position: fixed; border-bottom: 2px solid; top: 0px; width: 100%; background-color: rgb(224, 141, 141); height: 40px; padding: 5px;">
        <div id="parent" id="left_head" style="float: left; overflow: hidden; float: left; width: 80%;"><span>
            <img class="child" id="menu_down" src="https://i.pinimg.com/564x/65/8d/70/658d70042f014f02a3cd0cd6bc29d7a0.jpg" style="width: 40px; border-radius: 10px;" onclick="location.reload();">
            <img id="content" class="child" src="https://i.pinimg.com/564x/ff/de/fb/ffdefb9c1ae2e4542b9be7cb1617285e.jpg" style="width: 240px; border-radius: 10px;">
            <div id="pages" class="child">
                <img id="content" class="child" onclick="document.location='page2.html';return false;" src="https://i.pinimg.com/564x/7f/91/93/7f9193af1c9f47b9fa7988e660dc1bcc.jpg" style="width: 80px;">
                <img id="portray" class="child" onclick="document.location='page3.html';return false;"src="https://i.pinimg.com/564x/3c/9f/f0/3c9ff0f80c36e107102928fc550fe9fc.jpg" style="width: 80px;">
                <img id="private" class="child" onclick="document.location='page4.html';return false;"src="https://i.pinimg.com/564x/1c/4c/ce/1c4cce12ccebc3cc84e0ad4fd5810eb6.jpg" style="width: 80px;">
            </div>
        </div>
        <div id="right_head" style="float: right; width: 20%;"><div id="check_head1">
            <img class="child" onclick="document.location='getdatacontrol.html';return false;" src="https://i.pinimg.com/564x/68/b3/6d/68b36d7bab2ce5db6f27f1df36367d64.jpg" style="width: 40px; border-radius: 10px;">
            </div>
        </div>
    </div>
<!--*********************************work space***********************************************************-->    
    <div id="askpic" style="text-align: center; background-color: blanchedalmond; position: sticky; top: 0px; padding: 5px; border-radius: 10px;">
        <button type="button" class="contentbut" id="eachsome">Main</button>
        <input type="text" id="name" name="name" list="names" style="width: 110px; border: solid black 2px; border-radius: 10px; background-color: mediumblue" placeholder="eq. How to hide the emperor's child">
        <datalist id="names"></datalist>
        <button type="button" id="search" class="contentbut">search</button> <button type="button" id="clearname" class="contentbut">clear</button> | <button type="button" id="allname" class="contentbut">All</button></div>
    <div id="show" style="text-align: center;">Loading...</div>
<!--******************************************************************************************************-->
    <br>
    <a href="index.html"><img class="homeicon" src="https://i.pinimg.com/564x/2b/05/8d/2b058d9e38670c731169bcdbf62652a6.jpg"></a>
    <a href="index.html"><img class="homeicon" src="https://i.pinimg.com/564x/8a/67/be/8a67befed4bb41837186774172c7bf30.jpg"></a>
    contract: <a href="https://discordapp.com/users/1055326431804137504/"><img style="width: 30px; border-radius: 10px;" src="https://i.pinimg.com/564x/66/1e/cf/661ecf66bda49150b44d25e4440e2bb8.jpg"></a> Location: Bangkok, Thailand
    <br>© 2022 My Private Manhwa. Website source reserves to My Private Manhwa, Contents credit to owner.
    <h5 id="caption">"Attention! This website is personal collection not for commercial"</h5>
    <script src="{% static 'MyPrivateManhwa/picture.js' %}"></script>
</body>
</html>