<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <title>Help Center</title>
    <link rel="icon" href="https://i.pinimg.com/564x/65/8d/70/658d70042f014f02a3cd0cd6bc29d7a0.jpg">
</head>
<body oncopy="return false" oncut="return false" onpaste="return false">
    <a href="index.html">My Private Manhwa Main Page</a><br><br>
    <h1>Provision of Inserting Data to Services</h1>
<!--************************************My Private Manhwa************************************-->
My Private Manhwa<br>
I. Add new Manhwa<br>
II. Add mature content<br>
https://docs.google.com/spreadsheets/d/1ccgb2RTmSqblYdbqCSP6kyByCfYkKy7fX56eqldgzaA/edit#gid=0 <br>
<img src="https://i.pinimg.com/564x/b1/85/99/b185997be05933739f80aab1dae8696e.jpg">

<!--************************************Manhtia (ManhwaApp)************************************--><br><br>
Manhtia (ManhwaApp)<br>
I. Add new Manhwa<br>
</body>
</html>
